<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhdl.evtp.dao.TElectricVehicleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hhdl.evtp.model.TElectricVehicle">
        <id column="id" property="id"/>
        <result column="power" property="power"/>
        <result column="battery_capacity" property="batteryCapacity"/>
        <result column="position" property="position"/>
        <result column="position_val" property="positionVal"/>
        <result column="speed" property="speed"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        power,
        battery_capacity
        AS
        batteryCapacity,
        position,
        position_val
        AS
        positionVal,
        speed,
        state,
        remark
    </sql>
    <select id="selectListWithUserId" resultType="map">
        select ev.id,
               ev.power,
               ev.battery_capacity as batteryCapacity,
               ev.position,
               ev.position_val     as positionVal,
               ev.speed,
               ev.state,
               ev.remark,
               u.id                as userId,
               u.name              as userName
        from t_electric_vehicle ev
                 join t_user u on ev.id = u.ev_id
    </select>

</mapper>
