<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhdl.evtp.dao.TUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hhdl.evtp.model.TUser">
        <result column="id" property="id"/>
        <result column="ev_id" property="evId"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="email" property="email"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="qq" property="qq"/>
        <result column="telnumber" property="telnumber"/>
        <result column="createdate" property="createdate"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
        <result column="account" property="account"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        ev_id
        AS
        evId,
        name,
        sex,
        email,
        address,
        phone,
        qq,
        telnumber,
        createdate,
        state,
        remark,
        account
    </sql>

</mapper>
